//
// Current state of the pin
//
config-pin -q P9_17
config-pin -q P9_18
config-pin -q P9_21
config-pin -q P9_22

config-pin -q P9_28
config-pin -q P9_29
config-pin -q P9_30
config-pin -q P9_31

//
// spi0 and spi1 overlay u-boot commands :: DONT WORK
//
uboot_overlay_addr3=/lib/firmware/BB-SPIDEV0-00A0.dtbo
uboot_overlay_addr4=/lib/firmware/BB-SPIDEV1-00A0.dtbo


//
// spi 0 :: short 18 & 21
//
config-pin P9_17 spi_cs
config-pin P9_18 spi
config-pin P9_21 spi
config-pin P9_22 spi_sclk

//
// spi 1 :: short 29 & 30
//
config-pin P9_28 spi_cs
config-pin P9_29 spi
config-pin P9_30 spi
config-pin P9_31 spi_sclk